<head>
    <title>LunchCasa - Pick a lunch spot near you!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="description" content="LunchCasa is an intentionally simple web app which will use your location to pick a lunch spot near you. Give it a spin!">

    <link rel="image_src" href="" type="image/jpeg" data-width="300" data-height="266">
    <link rel="canonical" href="http://www.lunch.casa/">
    <link rel="icon" href="https://s3.amazonaws.com/lunchcasa/favicon.ico">

    <meta property="og:description" content="LunchCasa is an intentionally simple web app which will use your location to pick a lunch spot near you. Give it a spin!">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="LunchCasa">
    <meta property="og:title" content="LunchCasa">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.lunch.casa/">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/ladda-themeless.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css" >
    <link rel="stylesheet" href="../stylesheets/main.css" >
</head>