<!DOCTYPE html>
<html lang="en">

  <%= erb :'shared/head' %>

  <body>
    <div class="container">
      <div class="header clearfix">
        <h1 class="text-muted">LunchCasa <small>beta</small></h1>
      </div>

      <div class="jumbotron text-center" id="wrapper">
        <h3>Pick a place</h3>
        <form id="main">
        
          <div class="form-group">
            <label class="control-label" for="slider">Within <span id="range"></span> <span id="units">mile</span></label>
            <input id="slider" type=range min=0.25 value=0.5 max=5 step=0.25 />
          </div>

          <div class="form-group text-left">
            <a href="#" id="toggle-advanced">Advanced</a>
          </div>

          <div id="advanced">
            <div class="form-group">
              <label for="keyword">Keyword</label>
              <input type="text" class="form-control" id="keyword" placeholder="e.g. tacos">
            </div>
          </div>

          <div class="form-group">
            <button id="go" type="submit" class="btn btn-primary btn-lg ladda-button" data-style="contract" data-size="l">
              <span class="ladda-label">Go</span>
            </button>
          </div>
        </form>

        <div id="results">
          <p id="placeName"></p>
          <p id="placeLocation"></p>
          
          <a class="btn btn-danger" id="blacklist" href="#">Never again</a>
        </div>
      </div>

      <footer class="footer text-right">
        <a href="/about">About</a>
      </footer>

      <div class="row marketing text-center">
        <script type="text/javascript">
          ( function() {
            if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
            var unit = {"calltype":"async[2]","publisher":"delongtj","width":468,"height":90,"sid":"LunchCasa"};
            var placement_id = window.CHITIKA.units.length;
            window.CHITIKA.units.push(unit);
            document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
        }());
        </script>
        <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
      </div>

    </div>

    <%= erb :'shared/scripts' %>
</body>
</html>