<!DOCTYPE html>
<html lang="en">

  <%= erb :'shared/head' %>

  <body>
    <div class="container">
      <div class="header clearfix">
        <h1 class="text-muted">LunchCasa <small>beta</small></h1>
      </div>

      <div class="jumbotron text-center" id="wrapper">
        <p>
          LunchCasa is the go-to destination when you're looking for quick lunch suggestions. Hit the Go button to share your location and let us pick a local restaurant at random. Not happy with the result? Hit Go to give it another spin or hit Never Again, and that place will never be returned.
        </p>
        <h3>Pick a place</h3>
        <form id="main">
        
          <div class="form-group">
            <label class="control-label" for="slider">Within <span id="range"></span> <span id="units">mile</span></label>
            <input id="slider" type=range min=0.25 value=0.5 max=5 step=0.25 />
          </div>

          <div class="form-group text-left">
            <a href="#" id="toggle-advanced">Advanced</a>
          </div>

          <div id="advanced">
            <div class="form-group">
              <label for="keyword">Keyword</label>
              <input type="text" class="form-control" id="keyword" placeholder="e.g. tacos">
            </div>
          </div>

          <div class="form-group">
            <button id="go" type="submit" class="btn btn-primary btn-lg ladda-button" data-style="contract" data-size="l">
              <span class="ladda-label">Go</span>
            </button>
          </div>
        </form>

        <div id="results">
          <p id="placeName"></p>
          <p id="placeLocation"></p>
          
          <a class="btn btn-danger" id="blacklist" href="#">Never again</a>
        </div>
      </div>

      <div class="row marketing">
        <ul>
          <li>Discover local restaurants with the click of a button</li>
          <li>Search for eateries by keyword and distance</li>
          <li>Tune your preferences by hiding places you never want returned</li>
          <li>Click through the result to be taken to Google Maps and get instant directions</li>
        </ul>
      </div>

      <footer class="footer text-right">
        <em>"Mi casa, es LunchCasa"</em>
        <a href="/about">About</a>
      </footer>

    </div>

    <%= erb :'shared/scripts' %>
</body>
</html>