#slider {
  margin-top: 20px;
}

.ladda-button .ladda-spinner {
  left: 25% !important;
  top: 14% !important;
}

#options { 
  display: none;
}

#wrapper {
  min-height: 500px;
}

#map {
	height: 400px;
	width: 100%;
}

.jumbotron p, .jumbotron address {
	margin-bottom: 10px;
}
